.test {
    font-size:100px;
    color: aqua;
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid green;
    text-align: center;
    transition: 1s ease;
    transform: scale(0.9);
}

.test2 {
    display:none;
}